body {
  font-size: 20px;
  font-family: sans-serif;
}

.container{
  margin-bottom: 50px;
}

.welcome-heading {
  font-size: 42px;
  font-family: sans-serif;
  margin-top: 64px;
  text-align: center;
}

.chicken-recipe-heading{
  text-align: left;
}


a {
  text-decoration: none;
}

li {
  list-style: none;
  margin-top: 15px;
}
